*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}


body{
    background-color: black;
}


.round{
    border-radius: 10px;
}
.roundUper{
    border-radius: 10px 10px 0px 0px;
}
.bg_black{
    background-color: #121313;
}

.right-div{
    height: 600px;
}

.nav-bnt{
    background-color: white;
    border-radius: 20px;
}
.nav-bnt:hover , .nav-btn1:hover{
    transform: scale(1.05);
}